.idea
*.egg-info/
.installed.cfg
*.egg
*.md
*.json
MANIFEST
**/build/

brain-core-service/build
issm-api-common/build
issm-common-services/build
issm-common-database-setup/build
orchestrator-service/build
/data
lib
data
.terraform
terraform/.terraform.lock.hcl
terraform.tfvars
/brain-core-service/brain_core_service/api/agentic_layer/langchain_demo.py
/brain-core-service/brain_core_service/api/external_memory/design-doc/todos.md
/brain-core-service/brain_core_service/api/external_memory/tests/__init__.py
/brain-core-service/brain_core_service/api/external_memory/tests
/.env.ml
/docker-compose-ml.yml
logs/
/brain-core-service/brain_core_service/api/agentic_layer/tests/__init__.py
/brain-core-service/brain_core_service/api/agentic_layer/tests/agent_executor.py
/brain-core-service/brain_core_service/api/agentic_layer/architecture.md

__pycache__/
*.py[cod]
